<html>
<head>
    <title>Hebrew dates checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <h2>Let's check your when your Hebrew dates matches your Gregorian date!</h2>
    <h5>For Inbar with love!</h5>
    <br>
    <br>
</div>
<div class="container">
    <div class="input-group date" data-provide="datepicker">
        <form action='/' id="dateform">
            <label for="date">
                Enter your gregorian date:
            </label>
            <input name='date' type="date" class="form-control"/>
            <p>
                <button>Search</button>
            </p>
        </form>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
<!DOCTYPE html>